body {
  background-color: #fff;
  color: #111;
}

a {
  color: #33b;
}
a:hover {
  color: #44f;
}

.body-content {
  min-height: 640px;
}

.center {
  text-align: center;
}

.whitespace {
  margin: 100px 0;
}

.clear {
  clear: both;
}