.dino-stripe {
  background: asset-url('dino-stripe.jpg') repeat;
  margin-top: -24px;
  padding-bottom: 32px;
}

.bronze-stripe {
  background: #eee;
  padding-bottom: 32px;
  min-height: 320px;
}

.stripe-content {
  margin-top: 45px;
}

.remember-me {
  margin-top: 8px
}