.dino-stripe {
  background: asset-url('dino-stripe.png') repeat-x;
  margin-top: -24px;
  height: 325px;
}

.bronze-stripe {
  background: #eee;
  height: 315px;
}

.stripe-content {
  margin-top: 45px;
}