.transactions {
  .in {
    background: rgb(63, 179, 153);
    color: #fff;
  }
  .out {
    background: rgb(179, 63, 153);
    color: #fff;
  }

  .table-header {
    font-weight: bold;
  }
  
  .box {
    margin-bottom: 56px;
  }
  
  hr {
    margin: 6px 0;
  }
}

.months {
  margin-top: 24px;
  text-align: right;

  p {
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;
    padding: 8px 0;
  }
}

.balance {
  width: 100px;
  height: 40px;

  #stats-balance-in {
    float: left;
    background: #faf;
    height: 35px;
  }
  
  #stats-balance-out {
    float:right;
    background: #aff;
    height: 35px;
  }
}